{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'hello/css/style.css' %}" />
</head>
<body>
    <h1>{{title}}</h1>
    <P><a href="{% url 'hello:create' year month day %}">{{message|safe}}</a></P>
    <p><a href="{% url 'hello:month' %}">{{msg|safe}}</a></p>
    <table>
        <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>NAME</th>
            <th>GRADE</th>
            <th>SUBJECT</th>
            <th>REMARK</th>
            <th>ACT_PERSON</th>
        </tr>
    {% for item in data %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
            <td>{{item.name}}</td>
            <td>{{item.grade}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.remark}}</td>
            <td>{% if item.act_user == '' %}
                    <form action="{% url 'hello:register' item.id year month day %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="代行する">
                    </form>
                  {% else %}
                  <form action="{% url 'hello:cancel' item.id year month day %}" method="post">
                    {% csrf_token %}
                    {{item.act_user}} <input type="submit" value="キャンセルする">
                    </form>
                {% endif %}
            </td>
            <td><a href="{% url 'hello:edit' item.id year month day %}">Edit</a></td>
            <td><a href="{% url 'hello:delete' item.id year month day %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>