{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'hello/css/style.css' %}" />
</head>
<body>
    <h1>{{title}}</h1>
    <P><a href="{% url 'hello:create' %}">{{message|safe}}</a></P>
    <p><a href="{% url 'hello:month' %}">{{msg|safe}}</a></p>
    <table>
        <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>NAME</th>
            <th>GRADE</th>
            <th>SUBJECT</th>
            <th>REMARK</th>
        </tr>
    {% for item in data %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
            <td>{{item.name}}</td>
            <td>{{item.grade}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.remark}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>