{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'hello/css/style.css' %}"/>
</head>
<body>
    <h1>{{title}}</h1>
    <p><a href="{% url 'hello:month' %}">top</a></p>
    <p>{{message|safe}}</p>
    <table>
        <form action="{% url 'hello:search' %}" method="post">
        {% csrf_token %}
        {{form}}
        <tr><th></th><td><input type="submit" value="click"></td></tr>
        </form>
    </table>
    <hr>
    <table>
        <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>NAME</th>
            <th>GRADE</th>
            <th>SUBJECT</th>
            <th>REMARK</th>
            <th>ACT_USER</th>
        </tr>
    {% for item in data %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
            <td>{{item.name}}</td>
            <td>{{item.grade}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.remark}}</td>
            <td>{% if item.act_user == '' %}
                    <form action="{% url 'hello:register' item.id item.date.year item.date.month item.date.day  %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="代行する">
                    </form>
                  {% else %}
                   <form action="{% url 'hello:cancel' item.id item.date.year item.date.month item.date.day %}" method="post">
                    {% csrf_token %}
                    {{item.act_user}} <input type="submit" value="キャンセルする">
                    </form>
                {% endif %}
            </td>
    {% endfor %}     
    </table>
</body>
</html>